@{
    Layout = "~/Views/Shared/_LayoutFinlab.cshtml";
}
<div class="content-body default-height">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-titles">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Chart</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Morris</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Donught Chart</h4>
                            </div>
                            <div class="card-body">
                                <div id="morris_donught" class="morris_chart_height"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Line Chart</h4>
                            </div>
                            <div class="card-body p-0">
                                <div id="morris_line" class="morris_chart_height"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Bar Chart</h4>
                            </div>
                            <div class="card-body">
                                <div id="morris_bar" class="morris_chart_height"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Line Chart</h4>
                            </div>
                            <div class="card-body">
                                <div id="line_chart_2" class="morris_chart_height"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Bar Chart</h4>
                            </div>
                            <div class="card-body">

                                <div id="morris_bar_stalked" class="morris_chart_height"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Area Chart</h4>
                            </div>
                            <div class="card-body">
                                <div id="morris_area" class="morris_chart_height"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Finlab_style
	{
}
@section Finlab_script
	{
    <script src="~/Finlab/vendor/global/global.min.js"></script>
    <script src="~/Finlab/vendor/chart-js/chart.bundle.min.js"></script>
    <script src="~/Finlab/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- Apex Chart -->
    <script src="~/Finlab/vendor/apexchart/apexchart.js"></script>
    <!-- Chart Morris plugin files -->
    <script src="~/Finlab/vendor/raphael/raphael.min.js"></script>
    <script src="~/Finlab/vendor/morris/morris.min.js"></script>
    <script src="~/Finlab/js/plugins-init/morris-init.js"></script>
    <script src="~/Finlab/js/custom.min.js"></script>
    <script src="~/Finlab/js/dlabnav-init.js"></script>
    
    
}