<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-center">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Share Modal</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body post-input mb-0	">
				<div class="row">
					<div class="col-xl-12 mb-4">
						<p class="">Or this link via</p>
						<a class="btn-social facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
						<a class="btn-social google-plus" href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
						<a class="btn-social linkedin" href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
						<a class="btn-social instagram" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
						<a class="btn-social twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
						<a class="btn-social youtube" href="javascript:void(0)"><i class="fab fa-youtube"></i></a>
						<a class="btn-social whatsapp" href="javascript:void(0)"><i class="fab fa-whatsapp"></i></a>
					</div>
					<div class="col-xl-12">
						<label class="d-block mb-3">Or Copy link via</label>


						<div class="input-group mb-3">
							<input type="text" class="form-control m-0 h-auto" id="data" value="https://finlab.dexignlab.com/" aria-label="Username" aria-describedby="data">
							<div class="input-group-prepend ms-3 c-pointer">
								<span class="input-group-text" id="copy">Copy</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
